
.box{
    width: 200px;
    height: 50px;
    transform: translate(0,0);
    top: 0px;
    text-align: center;
    line-height: 50px;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
    
}
nav ul li a{
    text-decoration: none;
    color: rgb(79, 79, 79);
    cursor: pointer;
}
.box2 {
    transform: translate(140vh,0%);
    top: 0px;
}
.box2 img{
    width: 15px;
    height: 15px;
    overflow: hidden;
}
.box2 li span button{
    background-color: rgba(27, 103, 235, 0.77);
    color: #fff;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    transform: translate(5px, 0px);
    cursor: pointer;
}
div{
    width: 450px;
    height: 140px;
    display: block;
    align-items: center;
    justify-content: center;
    transform: translate(600px, 100px);

}
 .arama{
    width: 550px;
    height: 31px;
    border-radius: 10px;
    border-color: rgb(4, 4, 4);
    transform: translate(-150px);
    background-color: #fff;
    z-index: 0;
    
} 
.arama img{
    overflow: hidden;
    width: 30px;
    height: 30px;
    z-index: 1;
    border: radius 10px; 
    float: right;
    
}

 .arama input{
    width: 500px;
    height: 30px;
    border-radius: 10px;
    border-color: white;
   transform: translate(-1px, 0px);

}  
span button{
    width: 200px;
    height: 30px;
    transform: translate(-70px,0px);
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border-color: #fff;
}
span button:hover{
    box-shadow: 5px 5px 20px 3px black;
}
.container {
    width: 100%;
    height: 40px;
    border: 0;
    background-color: rgb(184, 180, 180);
    transform: translateY(38vh);
   
}
footer ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
    
}
footer ul li a{
    color:rgb(63, 62, 62);
    font-size: large;
    text-decoration: none;
}
footer ul li:nth-child(3){
    margin-right: 54em;
}